.view-todo-wrapper {
    margin-top: 8rem;

    .view-heading {
        font-family: Montserrat;
        font-weight: bold;
        font-size: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #4F91F5;
    }
    .outer-container {
        width: 928px;
        height: 461px;
        background: #0C557D;
    

        .inner-container {
            margin-top: 5rem;
            width: 755px;
            height: 311px;
            padding: 2rem;
            text-align: center;
            background: #FFFFFF;
        }
    }

    .todo-heading {
        font-family: Montserrat;
        font-weight: bold;
        font-size: 36px;
        color: #000000;
    }

    .todo-text {
        font-family: Roboto;
        font-weight: bold;
        font-size: 18px;
        color: #000000;

    }

      @media (max-width: 768px) {
           width: 828px;
           height: 461px;

            .outer-container {
                width: 928px;

                .inner-container {
                    width: 455px;
                }
            }
      }

       @media (max-width: 425px) {
           width: 528px;
           height: 461px;

           .outer-container {
               width: 428px;

               .inner-container {
                   width: 355px;
               }
           }
       }
}